alabaster==0.7.10
amqp==2.2.2
appnope==0.1.0
arrow==0.12.1
asn1crypto==0.24.0
attrs==17.4.0
Beaker==1.9.0
beautifulsoup4==4.6.0
billiard==3.5.0.3
binaryornot==0.4.4
bleach==2.1.3
celery==4.1.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
class-registry==2.1.2
click==6.7
cookiecutter==1.6.0
cookies==2.2.1
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.1
cryptography==2.2.2
decorator==4.2.1
Django==1.11
-e git+https://github.com/tamhv/django-admin-bootstrapped@6e450196de4d3cfd11b4b45acf0d678f49f4414e#egg=django_admin_bootstrapped
django-autocomplete-light==3.2.10
django-autofixture==0.12.1
django-bootstrap-breadcrumbs==0.8.2
django-bootstrap3==9.1.0
django-bootstrap4==0.0.6
django-braces==1.12.0
django-cacheops==4.0.6
django-celery-beat==1.1.1
-e git+https://github.com/gooesoft/django-celery-results@1ff9090166252a8360c62a1303402753be24eebc#egg=django_celery_results
django-clear-cache==0.3
django-compat==1.0.15
django-configuration==0.0.3
django-debug-toolbar==1.9.1
django-extensions==2.0.6
django-filter==1.1.0
django-formtools==2.1
django-hijack==2.1.7
django-model-utils==3.1.1
django-oidc-rp==0.2.0
django-ordered-model==1.4.3
django-polymorphic==2.0.2
django-redis==4.9.0
django-semanticui-forms==1.6.5
django-sendfile==0.3.11
django-summernote==0.8.8.6
django-tables2==1.21.2
django-taggit==0.22.2
django-vanilla-views==1.0.4
django-webpack-loader==0.6.0
django-webtest==1.9.2
djangorestframework==3.8.2
djangorestframework-filters==0.10.2
fcm-django==0.2.16
filters==1.3.2
first==2.0.1
flake8==3.5.0
funcy==1.10.1
future==0.16.0
greenlet==0.4.13
hijack==0.0.0
hiredis==0.2.0
html5lib==1.0.1
idna==2.6
invoke==0.22.1
ipdb==0.11
ipython==6.2.1
ipython-genutils==0.2.0
itypes==1.1.0
jedi==0.11.1
Jinja2==2.10
jinja2-time==0.2.0
jsonfield==2.0.2
kombu==4.1.0
Mako==1.0.7
Markdown==2.6.11
MarkupSafe==1.0
mccabe==0.6.1
model-mommy==1.5.1
more-itertools==4.1.0
oic==0.10.0.0
parso==0.1.1
pexpect==4.4.0
pickleshare==0.7.4
pip-tools==1.11.0
pluggy==0.6.0
poyo==0.4.1
prompt-toolkit==1.0.15
psycopg2-binary==2.7.4
ptyprocess==0.5.2
py==1.5.3
pycodestyle==2.3.1
pycparser==2.18
pycryptodomex==3.5.1
pyfcm==1.4.5
pyflakes==1.6.0
Pygments==2.2.0
pyjwkest==1.4.0
pyOpenSSL==17.5.0
pytest==3.5.0
python-dateutil==2.7.2
pytz==2018.3
raven==6.6.0
redis==2.10.6
regex==2018.2.21
requests==2.18.4
requests-toolbelt==0.8.0
responses==0.8.1
retrying==1.3.3
sh==1.12.14
simpleflake==0.1.5
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
testfixtures==6.0.0
traitlets==4.3.2
uritemplate==3.0.0
urllib3==1.22
uWSGI==2.0.17
vine==1.1.4
waitress==1.4.2
wcwidth==0.1.7
webencodings==0.5.1
WebOb==1.7.4
WebTest==2.0.29
whichcraft==0.4.1
whitenoise==3.3.1
